body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black; /* Sets background to black */
    color: #F8F8FF; /* Off-white text color */
    font-family: 'Arial', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin-top: -50px; /* Adjust this value as needed */
}

#logo {
    width: 200px; /* Assuming this size is roughly twice the heading size */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Space between logo and title */
}

h1 {
    font-size: 32px; /* Explicit font size for heading */
}

#verseDisplay {
    font-size: 24px;
    margin-top: 20px; /* Space between title and verse */
}
